# Gatsby-Plugin-Htaccess
# This file is a reduced version of the Apache Server Configs v3.0.0 | MIT License
# https://github.com/h5bp/server-configs-apache

# ----------------------------------------------------------------------
# | Enforce non-www domain                                             |
# ----------------------------------------------------------------------
#RewriteEngine On
#RewriteCond %{HTTP_HOST}  ^www.aperturepedia.com [NC]
#RewriteRule ^(.*) http://aperturepedia.com/$1 [L,R=301]

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/$ /$1 [L,R] # <- for test, for prod use [L,R=302]

#RewriteEngine on

# Include trailing slash on directory 
#RewriteCond %{REQUEST_URI} !(.+)/$
#RewriteCond %{REQUEST_FILENAME}
#RewriteRule ^(.+)$ https://aperturepedia.com/$1/ [R=302,L]

# Force HTTPS and WWW 
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [OR,NC]
#RewriteCond %{https} off  
#RewriteRule ^(.*)$ https://aperturepedia.com/$1 [R=302,L]


# ----------------------------------------------------------------------
# | Expires headers                                                    |
# ----------------------------------------------------------------------

# This matches the settings descriped at: 
# https://www.gatsbyjs.org/docs/caching/

<IfModule mod_headers.c>
    <FilesMatch "\.html$">
        Header set Cache-Control "public, max-age=0, must-revalidate"
    </FilesMatch>
    <FilesMatch "\.(js|css)$">
        Header set Cache-Control "public, max-age=31536000, immutable"
    </FilesMatch>
    <FilesMatch "\.(json)$">
        Header set Cache-Control "public, max-age=3153600, immutable"
    </FilesMatch>
    <Files sw.js>
        Header set Cache-Control "public, max-age=0, must-revalidate"
    </Files>
</IfModule>
