@import '../../scss/variables.module.scss';

.container {
  .row {
    .cell {
      font-size: 0.9rem;
      line-height: 1rem;
      font-weight: 700;

      .desktop {
        display: block;
      }
      .mobile {
        display: none;
      }
    }

    .lensName, .focalLength {
      white-space: nowrap;
    }

    .small {
      padding: 6px 10px;
    }
  }
}

@media screen and (max-width: $mdBreakpoint) {
  .container {
    .row {
      .cell {
        font-size: 0.8rem;
        line-height: 1rem;

        .desktop {
          display: none;
        }

        .mobile {
          display: block;
        }
      }
    }
  }
}
