@import '../../scss/variables.module.scss';


  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
      margin-bottom: 0.75rem;

    .title {}
  }

.container {
  .row {
    .cell {
      font-size: 0.9rem;
      line-height: 1rem;
      font-weight: 700;

      .desktop {
        display: block;
      }
      .mobile {
        display: none;
      }
    }

    .lensName, .focalLength {
      white-space: nowrap;
    }

    .small {
      padding: 6px 10px;
    }
  }
}

@media screen and (max-width: $mdBreakpoint) {
  .title {
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 0.75rem;
  }

  .container {
    .row {
      .cell {
        font-size: 0.8rem;
        line-height: 1rem;

        .desktop {
          display: none;
        }

        .mobile {
          display: block;
        }
      }
    }
  }
}
