@import '../../scss/variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 100vh;
}

.content {
  overflow-wrap: break-word;
  padding: 1rem;
  overflow: auto;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: $mdBreakpoint) {
  .content {
    padding: 0rem;
  }
}
