@import '../../scss/variables.module.scss';

.container {
  padding: 1rem;
  background-color: $lighterGrey;
  overflow-wrap: break-word;

  .title {
    margin-bottom: 0.75rem;
  }
}

.footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media screen and (max-width: $mdBreakpoint) {
	.footer {
	  position: relative;
	  padding: 1rem 0 0 1rem;
	  bottom: 0px;
	}
}
