@import '../../scss/variables.module.scss';

@mixin renderRow($background, $color:$black) {
  .cell {
    background: $background;
    color: $color;
  }

  &:hover {
    .cell {
      // color: lighten($color, 10%);
      // font-weight: 700;
      background: darken($background, 15%);
    }
  }
}


// Konica AR-specific Styling
.ara.row { @include renderRow(#FFFF99); }
.arb.row { @include renderRow(#CCFF66); }
.arc.row { @include renderRow(#66FF66); }
.ard.row { @include renderRow(#00CC66); }
.are.row { @include renderRow(#33CCCC); }
.aruc.row { @include renderRow(#0000FF); }
.arpreset.row { @include renderRow(#9966FF); }
.arhybrid.row { @include renderRow(#CC00FF); }
.arplastic.row { @include renderRow(#FF6699); }
.arreflex.row { @include renderRow(#FFCC00); }
.arhx.row { @include renderRow(#CC9900); }

// Canon FD-specific Styling
.fdfl.row { @include renderRow($orange2); }
.fdfd.row { @include renderRow($blue1); }
.fdnewfd.row { @include renderRow($blue2); }
.fdfdl.row, .fdnewfdl.row { @include renderRow($darkRed, $white); }

// Nikon F-specific Styling
.ff.row { @include renderRow(#1b9ff1); }
.fc.row { @include renderRow(#1385CC); }
.fk.row { @include renderRow(#f9ce25); }
.fai.row { @include renderRow(#f37356); }
.fais.row { @include renderRow(#e45838); }
.fe.row { @include renderRow($lightGreen); }

// Pentax K-specific Styling
.ksmc.row { @include renderRow($orange2); }
.ksmcm.row { @include renderRow($blue1); }
.ksmca.row { @include renderRow($blue2); }

// Pentax M42-specific Styling
.m42takumar.row, .m42tele.row { @include renderRow($orange2); }
.m42auto.row { @include renderRow($orange3); }
.m42super.row { @include renderRow($blue1); }
.m42smc.row { @include renderRow($blue2); }

// Minolta-specific Styling
.srar.row, .srsr.row { @include renderRow($grey1); }
.srarii.row { @include renderRow($grey2); }
.srarc.row, .srsrc.row { @include renderRow($grey3, $white); }
.srmci.row { @include renderRow($orange1); }
.srmcii.row { @include renderRow($orange2); }
.srmcx.row { @include renderRow($orange3); }
.srmdi.row { @include renderRow($blue1); }
.srmdii.row { @include renderRow($blue2); }
.srmdiii.row { @include renderRow($blue3); }
.srmdiiia.row { @include renderRow($blue4, $white); }
.srlei.row { @include renderRow($darkRed, $white); }
.srmcce.row, .srmdce.row { @include renderRow($lightGreen); }
// .srmcce .cell, .srmdce .cell {
//   // background-image: linear-gradient(-45deg, $orange2 25%, transparent 25%, transparent 50%, $orange2 50%, $orange2 75%, transparent 75%, transparent);
//   // background-size: 4px 4px;
// }

// General Styling
.row {
  cursor: pointer;

  .cell {
    font-size: 0.8rem;
    line-height: 0.9rem;
    font-weight: 500;
    border-bottom: 1px solid $mdGrey;

    &:not(:last-child) {
      border-right: 1px solid $mdGrey;
    }

    &:first-child {
      padding-left: 10px;
      padding-right: 10px;
    }

    &:last-child {
      padding-left: 10px;
      padding-right: 10px;

      &.small {
        padding-right: 6px;
      }
    }
  }

  .focalLength, .style {
    white-space: nowrap;
  }

  .focalLength, .maxAperture {
    font-size: 1.2rem;
    line-height: 1rem;
    color: $black !important;
    background: $white !important;

    .lensType {
      display: block;
      font-size: 0.8rem;
      line-height: 1rem;
      margin-bottom: 0.2rem;
    }
  }

  .focalLength, .maxAperture {
    font-weight: 700;
    background: $white;
  }

  .small {
    padding: 6px 3px;
  }
}

.detailContainer {
  display: block !important; // Fixes MUI padding bugs when hidden
  visibility: collapse;

  .detailPanel {
    display: none;
    visibility: collapse;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: 1px solid $mdGrey;

    .detailPanelInner {}

    .text {}

    .padded {
      margin: 1rem 0;
    }

    .ul {
      font-size: 0.9rem;
      line-height: 1.1rem;
      padding: 0 1.2rem;
      margin: 0;
      word-wrap: break-word;
    }

    .hidden {
      display: none;
    }
  }

  &.isExpanded {
    display: table-row !important; // Fixes MUI padding bugs when hidden
    visibility: visible;

    .detailPanel {
      display: table-cell;
      visibility: visible;
    }
  }
}
