@import '../../scss/variables.module.scss';

.wrapper {
  .header {    
    border-bottom: 1px solid $lightGreyBorder;
    margin: 0 0 0.75rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      width: 100%;
    }

    button {
      padding: 0;
    }
  }
}

@media screen and (max-width: $mdBreakpoint) {
  .wrapper {
    margin: 20px 10px !important;
    max-width: 100% !important;
  }
}
