@import '../../scss/variables.module.scss';

.appbar {
  background-color: $white;
  color: $black;

  .toolbar {
    .title {
      margin: 0 1rem;
      color: $black;
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .anchor {
      margin-left: 1rem;
      text-decoration: none;
      color: inherit;
    }

    .tabs {
      min-height: 64px;
      color: $black;
      margin-left: 1rem;
      text-decoration: none;
      color: inherit;

      &.active {
        border-bottom: 4px solid $black;
      }
    }

    .tabIndicator {
      background-color: $black;
      height: 4px;
    }
  }
}

.drawer {
  min-width: 50vw;

  .title {
    color: $black;
  }
}

.mobile {
  display: none;
}

.desktop {
  display: initial;
}

@media screen and (max-width: $mdBreakpoint) {
  .appbar {
    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  .mobile {
    display: initial;
  }

  .desktop {
    display: none;
  }
}
