@import '../../scss/variables.module.scss';

.appbar {
  background-color: $white;
  color: $black;

  .toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .title {
      margin: 0 1.5rem;
      color: $mdGrey;
      font-size: 1.5rem;

      strong {
        color: $black;
      }
    }

    .anchor {
      margin-left: 1rem;
      text-decoration: none;
      color: inherit;
    }

    .alert {
      white-space: nowrap;
      text-align: right;
      font-size: 0.9rem;
      padding: 1rem;
      font-style: italic;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: inherit;
    }
  }
}

.drawer {
  min-width: 50vw;

  .title {
    color: $black;
  }
}


@media screen and (max-width: $mdBreakpoint) {
  .appbar {
    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .mobile {
        display: inherit;
      }

      .desktop {
        display: none;
      }
    }
  }

  .mobile {
    display: initial;
  }

  .desktop {
    display: none;
  }
}
