
// Master Color Palette
$orange1: #FFD595;
$orange2: #FFB74A;
$orange3: #FF9115;
$blue1: #B1DAFF;
$blue2: #65B5FF;
$blue3: #0084FF;
$blue4: #0055A5;
$white: #FFF;
$grey1: #E6E6E6;
$grey2: #BDBDBD;
$grey3: #848484;
$darkRed: #BF1920;


$black: #222;
$offBlack: #262525;
$semiTransparentBlack: #000000B5;

$white: #FFF;
$lighterWhite: #F6F4F4;
$offWhite: #F1F1F1;

$lighterGrey: #EFEFEF;
$lightGrey: #CED4DA;
$mdGrey: #666;

$faintRed: #F77763;
$lightRed: #CB5745;
$red: #D64541;
$medRed: #AD302D;

$lightOrange: #e0a800;
$orange: #d39E00;

// $lightGreen: #DAFDE2;
$lightGreen: #ECFBC0;
$green: #28A745;

$brightYellow: #F9EA06;
$faintYellow: #FCF9DE;

$blue: #007bff;

// Theme Colors
$lightGreyBorder: $lightGrey;
$lightGreyBg: $lighterGrey;
$callToAction: $red;

// Dimensions
$smBreakpoint: 400px;
$mdBreakpoint: 700px;
$lgBreakpoint: 1124px;

$smWidth: 85%;
$mdWidth: 730px;
$lgWidth: 980px;
$xlWidth: 1180px;

$defaultLineHeight: 1em;

html {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #4686AA;
  cursor: pointer;
}

body {
  margin: 0px;
  background-color: $lighterGrey;
}
