
// Master Color Palette
$orange1: #FFD595;
$orange2: #FFB74A;
$orange3: #FF9115;
$blue1: #B1DAFF;
$blue2: #65B5FF;
$blue3: #0084FF;
$blue4: #0055A5;
$white: #FFF;
$grey1: #E6E6E6;
$grey2: #BDBDBD;
$grey3: #848484;
$darkRed: #BF1920;


$black: #222;
$offBlack: #262525;
$semiTransparentBlack: #000000B5;

$white: #FFF;
$lighterWhite: #F6F4F4;
$offWhite: #F1F1F1;

$lighterGrey: #EFEFEF;
$lightGrey: #CED4DA;
$mdGrey: #666;

$faintRed: #F9A592;
$lightRed: #F77763;
$red: #CB5745;
$medRed: #D64541;
// $faintRed: #F77763;
// $lightRed: #CB5745;
// $red: #D64541;
// $medRed: #AD302D;
// #f9a592

$lightOrange: #E0A800;
$orange: #D39E00;

// $lightGreen: #DAFDE2;
$faintGreen: #ECFBC0;
$lightGreen: #D6F678;
$green: #28A745;

$brightYellow: #F9EA06;
$faintYellow: #FCF9DE;

$blue: #007BFF;



// // BRAND Colors


// Konica AR Palette
$ara: #FFFF99;
$arb: #CCFF66;
$arc: #66FF66;
$ard: #00CC66;
$are: #33CCCC;
$aruc: #0000FF;
$arpreset: #9966FF;
$arhybrid: #CC00FF;
$arplastic: #FF6699;
$arreflex: #FFCC00;
$arhx: #CC9900;

// Canon FD Palette
$fdfl: $orange2;
$fdfd: $blue1;
$fdnewfd: $blue2;
$fdfdl: $darkRed; 
$fdnewfdl: $darkRed;

// Nikon F Palette
// // Currently testing:
// $ff: $grey1;
// $fc: $grey2;
// $fk: #A97EFD;
// $fai: $blue1;
// $fais: $blue2;
// $fe: $lightGreen;

// // Previously testing for comparison:
// $ff: $orange2;
// $fc: $orange3;
// $fk: $grey1;
// $fai: $blue2;
// $fais: $blue3;
// $fe: $lightGreen;

$ff: #1b9ff1;
$fc: #1385CC;
$fk: #f9ce25;
$fai: #f37356;
$fais: #e45838;
$fe: $lightGreen;

// Pentax K Palette
$ksmc: $orange2;
$ksmcm: $blue1;
$ksmca: $blue2;

// Pentax M42 Palette
$m42takumar: $orange2;
$m42auto: $orange3;
$m42super: $blue1;
$m42smc: $blue2;

// Minolta SR Palette
$srsr: $grey1;
$srar: $grey1;
$srarii: $grey2;
$srsrc: $grey3;
$srarc: $grey3;
$srmci: $orange1;
$srmcii: $orange2;
$srmcx: $orange3;
$srmdi: $blue1;
$srmdii: $blue2;
$srmdiii: $blue3;
$srmdiiia: $blue4;
$srlei: $darkRed;
$srmcce: $lightGreen;
$srmdce: $lightGreen;






// Theme Colors
$lightGreyBorder: $lightGrey;
$lightGreyBg: $lighterGrey;
$callToAction: $red;

// Dimensions
$smBreakpoint: 400px;
$mdBreakpoint: 700px;
$lgBreakpoint: 1124px;

$smWidth: 85%;
$mdWidth: 730px;
$lgWidth: 980px;
$xlWidth: 1180px;

$defaultLineHeight: 1em;

html {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #4686AA;
  cursor: pointer;
}

body {
  margin: 0px;
  background-color: $lighterGrey;
}
